/* Resets */

* {
  box-sizing: border-box;
}

main {
  /* ----centers everything */
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  text-align: justify;
}

svg{
  width: 100%;
  height:auto;
}

.image {
  height: auto;
}

label, /* ---colour and font from main */ 
input,
button,
a {
  font-family: inherit;
  color: inherit;
}

/* variables */

:root {
    --primary-colour: hsl(79, 80%, 39%);
    --secondary-colour: hsl(98, 40%, 77%);
    --font-colour: hsl(169, 54%, 27%);
    --bg-colour: hsl(60, 24%, 93%);
    --main-font: 'PT Serif', serif;
    --logo-font: 'Homemade Apple', cursive;
}

body {
  background-color:var(--bg-colour);
  color:var(--font-colour);
  font-family:var(--main-font);
}

.logo {
  font-family:var(--logo-font);
  font-size: 3em;
}

.navigation {
  display: flex;
  margin: auto;
  width: 60ch;
  top: 0;
  z-index: 1;
  margin-top: 0;
}

.navigation .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0;
} 

/* Mobile first ! */

/* Desktop styles:
  
 @media only screen and (min-width: 768px) {
   
 }
 */
