/* Resets */

* {
  box-sizing: border-box;
}

main {
  /* ----centers everything */
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  text-align: center;
  line-height: 1.2;
}

svg {
  width: 100%;
  height: auto;
}

.image {
  height: auto;
}

.logo-img {
  height: auto;
}

label, /* ---colour and font from main */ 
input,
button,
a {
  font-family: var(--logo-font);
  color: inherit;
  text-decoration: inherit;
  font-size: 1.1em;
}

/* variables */

:root {
  --primary-colour: hsl(79, 80%, 39%);
  --secondary-colour: hsl(98, 40%, 77%);
  --font-colour: hsl(169, 54%, 27%);
  --bg-colour: hsl(60, 24%, 93%);
  --main-font: "PT Serif", serif;
  --logo-font: "Homemade Apple", cursive;
}

body {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  font-family: var(--main-font);
}

.apple {
  margin: 0 auto;
}

.navigation {
  display: flex;
  margin: auto;
  width: 100vw;
  top: 0;
  z-index: 1;
  margin-top: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--font-colour);
}

.logo {
  font-family: var(--logo-font);
  font-size: 3em;
  text-align: center;
}

p {
  margin: auto;
  text-align: center;
  min-width: 13rem;
  padding: 1rem;
}

.navigation .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0;
}

li {
  margin: auto 0;
  padding: 0.5rem;
  background-color: var(--secondary-colour);
}

.harvest-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 15rem;
  height: 15rem;
  margin: auto;
}
/* Mobile first ! */

/* Desktop styles: */

@media only screen and (min-width: 768px) {
  .navigation {
    width: 60ch;
  }
}
